$color-white: #FFFFFF;
$color-gray-100: #F8F9FA;
$color-gray-400: #CED4DA;
$color-gray-600: #6C757D;
$color-gray-900: #212529;
$color-black: #000;
$color-success: #198754;

$font-family-1: 'Lato', sans-serif;
$font-family-2: 'ROBOTO MONO', sans-serif;

$img-1: url("https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2000&q=80");
$img-2: url("https://images.unsplash.com/photo-1504051771394-dd2e66b2e08f?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=2134&q=80");
$img-3: url("https://images.unsplash.com/photo-1522069394066-326005dc26b2?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=crop&w=1350&q=80");

@mixin font{
    
}